<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiBandImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MiBandImport.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Root" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeHight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="SizeWidth" serializeAs="String">
                <value>1350</value>
            </setting>
            <setting name="SleepDuration" serializeAs="String">
                <value>06:00</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkDirOnPhone" serializeAs="String">
                <value>/storage/sdcard1/</value>
            </setting>
            <setting name="PhoneTimeOut" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Weight" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Hight" serializeAs="String">
                <value>180</value>
            </setting>
        </MiBandImport.Properties.Settings>
    </userSettings>
</configuration>